<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title></title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="stylesheets/css/minify/minify.css">
  <% if(bootstrap) { %>
  <link rel="stylesheet" type="text/css"
        href="stylesheets/bootstrap-sass-official/bootstrap.css">
  <script type="text/javascript"
          src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js"></script>
  <% } %>
</head>
<body>
<h1>Welcome to the app <%= appTitle %></h1>
<div id="wrapper">
  <header>
    HEADER
  </header>
  <nav>
    NAV
  </nav>
  <section id="content">
  </section>
  <footer>
    FOOTER
  </footer>
</div>
<script src="js\minify/minify.min.js"></script>
<% if (jQuery){ %>
<script src="bower_components/jQuery/dist/jquery.js"></script>
<%}%>
<% if(bootstrap) { %>
<script type="text/javascript" src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap.js"></script>
<% } %>
</body>
</html>